<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" routerLink="person">Home</a>
    <button class="navbar-toggler" type="button" id="dr" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="person" routerLinkActive="active" >Person</a>
        <a class="nav-item nav-link active" routerLink="person/new" routerLinkActive="active" >Ajout</a>
        <a class="nav-item nav-link active" routerLink="person" routerLinkActive="active" >Person</a>
        <a class="nav-item nav-link active" routerLink="upload-file" routerLinkActive="active" >Upload file</a>
        <a  class="nav-item nav-link active" (click)="onLogout()" style="cursor: poinnter;" >logout</a>
        <a  class="nav-item nav-link active" routerLink="login" routerLinkActive="active" >login</a>
      </div>
    </div>
  </nav>