
<!--<div class="">
    <button class="btn btn-primary mt-3 mr-3 ml-3 mb-3" (click) = "onNew()">Add new</button>
</div>-->
<!-- Button trigger modal -->
<div class="input-group col-md-4 mt-3 mb-3">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  search by">
  <span class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">
        <i class="fa fa-search"></i>
    </button>
  </span>
</div>

<button type="button" class="btn btn-primary mb-3 ml-3" data-toggle="modal" data-target="#modalAdd">
  <i class="fa fa-plus">Add new</i>
</button>

<!-- Modal add -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une nouvelle personne</h5>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="personForm" (ngSubmit) ="onSave()">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Entrer le nom">
          </div>
          <div class="form-group">
            <label for="fonction">fonction</label>
            <input type="text" class="form-control" id="fonction" formControlName="fonction" placeholder="Fonction">
          </div>
          <div class="form-group">
              <label for="tel">Telephone</label>
              <input type="number" class="form-control" id="tel" formControlName="tel" placeholder="tel">
            </div>
            <div class="form-group">
              <label for="sexe" class="mr-3">
                <input class="" [(ngModel)]="defaultSexe" type="radio" value="Homme" formControlName="sexe" checked >
                  <span>Homme</span>
              </label>
              <label class="sexe">
                <input type="radio" value="Femme" formControlName="sexe">
                  <span>Femme</span>
              </label>
            </div>
            <!--
            <div class="form-group">
              <select formControlName="sexe" [ngModel]="defaultSexe" name="sexe">
                <option [ngValue]="null" disabled>Select Sexe</option>
                <option *ngFor="let sexe of sexes" [ngValue]="sexe.name">{{sexe.name}}</option>
              </select>
            </div>-->
            <div class="form-group">
              <select formControlName="age"  name="age" name="age">
                <option [ngValue]="null" disabled>Choisir l'age</option>
                <option *ngFor="let age of ages let i =index" [ngValue]="i+1">{{i+1}}</option>
              </select>
            </div>
            <!----->
            
          <!--<div class="form-group">
              <label for="sexe">Sexe</label>
              <input type="text" class="form-control" id="sexe" formControlName="sexe" placeholder="Another input">
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="number" class="form-control" id="age" formControlName="age" placeholder="Age">
            </div>-->
           <!-- <button type="submit" class="btn btn-success" [disabled]="personForm.invalid">valider</button>-->

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!--<button type="submit" class="btn btn-primary" [disabled]="personForm.invalid" >  Save</button>-->
              <button type="submit" class="btn btn-success" [disabled]="personForm.invalid">valider</button>
            </div>
        </form>

      </div>
      
    </div>
  </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOM</th>
        <th scope="col">FONCTION</th>
        <th scope="col">TELELEPHONE</th>
        <th scope="col">SEXE</th>
        <th scope="col">AGE</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of persons  | filter:searchText; let i = index">
        <td>{{p.id}}</td>
        <td><span style="font-weight: bold;"  [ngStyle]="{'color':p.sexe === 'Homme' ? 'green' : 'purple' }">{{p.nom}}</span></td>
        <td>{{p.fonction}}</td>
        <td>{{p.tel}}</td>
        <td>{{p.age}}</td>
        <td>{{p.sexe}}</td>
        <td><button class="btn btn-success" (click)="onView(p.id)"><i class="fa fa-eye"></i>voir</button>
          <button type="button" class="btn btn-success mr-3 ml-3" data-toggle="modal" (click)="onUp(p.id)">
            <i class="fa fa-edit"></i>update
          </button>
        </td>
      </tr>

    </tbody>
  </table>