<div class="container">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Mettre à jour les informations de 
      <span  [ngStyle]="{'color':person.sexe === 'grey' ? '' : 'purple' }"><a [routerLink]="['/person',person.id]">{{person.nom}}</a></span>
    </h5>
  </div>
</div>
<form [formGroup]="personForm" (ngSubmit) ="onUpdate()">
    <!--<div class="form-group">  
       <label for="id">ID</label>
       <input type="text" class="form-control" id="id" formControlName="id" placeholder="Entrer l'identifiant">
     </div>--> 
     <div class="form-group">  
       <label for="nom">Nom</label>
       <input type="text" class="form-control" id="nom" [(ngModel)]="person.nom" name="nom" formControlName="nom" placeholder="Entrer le nom">
     </div>
     <div class="form-group">
       <label for="fonction">fonction</label>
       <input type="text" class="form-control" id="fonction" [(ngModel)]="person.fonction" formControlName="fonction" name="fonction" placeholder="Fonction">
     </div>
     <div class="form-group">
         <label for="tel">Telephone</label>
         <input type="number" class="form-control" id="tel" [(ngModel)]="person.tel" name="tel" formControlName="tel" placeholder="tel">
       </div>
       <div class="form-group">
        <label for="sexe" class="mr-3">
          <input class="" type="radio" value="Homme" [(ngModel)]="person.sexe" name="sexe" formControlName="sexe">
            <span>Homme</span>
        </label>
        <label class="sexe">
          <input type="radio" value="Femme" [(ngModel)]="person.sexe" name="sexe" formControlName="sexe">
            <span>Femme</span>
        </label>
      </div>
       <!--
       <div class="form-group">
        <select formControlName="sexe" [(ngModel)]="person.sexe" name="tel" name="sexe">
          <option [ngValue]="null" disabled>Select Sexe</option>
          <option *ngFor="let sexe of sexes" [ngValue]="sexe.name">{{sexe.name}}</option>
        </select>
      </div>-->
      <div class="form-group">
        <select formControlName="age" [(ngModel)]="person.age" name="age" name="age">
          <option [ngValue]="null" disabled>Choisir l'age</option>
          <option *ngFor="let age of ages let i =index" [ngValue]="i+1">{{i+1}}</option>
        </select>
      </div>
      <!--
       <div class="form-group">
         <label for="age">Age</label>
         <input type="number" class="form-control" id="age" [(ngModel)]="person.age" name="age" formControlName="age" placeholder="Age">
       </div>-->
       
       <button  type="submit" class="btn btn-danger mr-3" (click)="onBack()" >Annuler</button>
       <button  type="submit" class="btn btn-success " [disabled]="personForm.invalid">valider</button>
   </form>
</div>