
<div class="container mt-3">
    <div class="card">
        <div class="card-title ml-3 mt-3">
            <h4><span  [ngStyle]="{'color':person.sexe === 'grey' ? '' : 'purple' }"><a [routerLink]="['/person',person.id]">{{person.nom}}</a></span>
                <button type="button" class="btn btn-danger ml-3" (click)="OnDelete(person.id)">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button class="btn btn-success mr-4" type="button" style ="float: right;" (click)="onUp(person.id)">update</button></h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><span>Numero: </span>{{person.id}}</li>
                <!--<li class="list-group-item"><span>Nom: </span>{{person.nom}}</li>-->
                <li class="list-group-item"><span>Sexe: </span>{{person.sexe}}</li>
                <li class="list-group-item"><span>Age: </span>{{person.age}}</li>
                <li class="list-group-item"><span>Poste: </span>{{person.fonction}}</li>
                <li class="list-group-item"><span>Telephone: </span>{{person.tel}}</li>
            </ul>
        </div>
    </div>
    <button class="btn btn-success mt-3 " type="button" (click)="onBack()">retour</button>
</div>